<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="M2MqttDotnetCore" version="1.0.7" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.10.6" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
</packages>